// --------------------------------
// == Sample Elevations Definitions
// --------------------------------

:root {
  --elevation-1: 
    0 2px 2px 0 rgba(100, 109, 130, 0.08),
    0 1px 1px 0 rgba(100, 109, 130, 0.1);
  --elevation-2:
    0 2px 4px 0 rgba(100, 109, 130, 0.14),
    0 0 1px 0 rgba(100, 109, 130, 0.1);
  --elevation-3:
    0 4px 10px 0 rgba(100, 109, 130, 0.14),
    0 0 1px 0 rgba(100, 109, 130, 0.1);
  --elevation-4:
    0 8px 14px 0 rgba(100, 109, 130, 0.16),
    0 0 2px 0 rgba(100, 109, 130, 0.12);
  --elevation-5:
    0 18px 20px 0 rgba(100, 109, 130, 0.16),
    0 0 2px 0 rgba(100, 109, 130, 0.12);
}