:root {
  --main-nav-width: 260px;
}

.o-main-nav {
  grid-area: nav;
  display: flex;
  background-color: var(--color-background);
  z-index: var(--z-index-main-nav);
  
  & > a {
    display: flex;
    align-items: center;
    padding: var(--base-space-2);
    color: var(--text-high-emphasis);

    svg {
      fill: currentColor;
    }
  }

  // a {
  //   &[aria-current="page"] {
  //     background-color: var(--gray-11);
  //   }
  // }
  
  @media only screen and (max-width: 800px) {
    border-top: var(--border);
    
    & > * {
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }
    
    .base-title,
    .base-list {
      display: none;
    }

    .o-main-nav__playlists-title,
    .o-main-nav__searchbar {
      display: none;
    }
  }

  @media only screen and (min-width: 801px) {
    flex-direction: column;
    border-right: var(--border);
    padding: var(--base-space-2);

    * + .base-title {
      margin-top: var(--base-space-4);
    }

    & > * {
      padding: var(--base-space-1) var(--base-space-2);

      > a + a {
        margin-left: var(--base-space-1);
      }
    }

    a {
      border-radius: var(--border-radius-small);
      gap: var(--base-space-2);
    }

    a + a {
      margin-top: 1px;
    }

    .o-main-nav__playlist-link,
    .o-main-nav__search-link {
      display: none;
    }
  }
}