@charset 'UTF-8';

// ----------------------
// == Site settings
// ----------------------

/* Fonts */
:root {
  --font-text: 'Inter-Regular', sans-serif;
  --font-text-semi-bold: 'Inter-SemiBold', sans-serif;
  --font-text-medium: 'Inter-Medium', sans-serif;
}
