// ----------------------
// == Utility Classes
// ----------------------

// Apply these classes on element only when
// the rule you want to set is independant from
// the rest of your element style.
// Using '!important' here is recommanded

.u-absolute-center {
  @include absolute-center;
}

// Visually hide content, leaving it accessible to screenreaders and ATs.
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.u-list-reset {
  list-style: none;
  padding-inline-start: 0;
}

.u-list-style\:none {
  list-style: none;
}

.u-text-truncate {
  @include truncate-text;
}

.u-overflow\:hidden {
  overflow: hidden !important;
}

.u-pointer-events\:none {
  pointer-events: none !important;
}