@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/Inter-Regular.woff2?v=3.13') format('woff2'),
    url('@/assets/fonts/Inter-Regular.woff?v=3.13') format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('@/assets/fonts/Inter-Medium.woff2?v=3.13') format('woff2'),
    url('@/assets/fonts/Inter-Medium.woff?v=3.13') format('woff');
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('@/assets/fonts/Inter-SemiBold.woff2?v=3.13') format('woff2'),
    url('@/assets/fonts/Inter-SemiBold.woff?v=3.13') format('woff');
}
