/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --black: #181818;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* ======================================================================================== */
/* Base | Default, single element selectors that will look the same regardless of location. */
/* ======================================================================================== */

html {
  min-height: 100vh;
  text-size-adjust: 100%;
  /* Mobile First Approach */
  /* Refer to https://prowebtype.com/setting-type/ */
  font-family: var(--font-text), serif;
  font-size: 100%;
  font-weight: 400;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: var(--scroll-behavior, auto);
}

/* Make scrollbars black */
/* https://twitter.com/diegohaz/status/1529543787311144961 */
html[data-theme="dark"] {
  color-scheme: dark;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* --------------------------------- */
/* GENERAL SETTINGS                  */
/* --------------------------------- */

body {
  display: flex;
  position: relative;
  font-family: var(--font-text);

  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* p,
a,
ul,
blockquote,
figcaption {
  @include text-body-m;
} */

picture {
  display: block;
}

img {
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
}

#app {
  --grid-template-areas: 
    'main'
    'player'
    'nav'
  ;
  --nav-height: var(--base-space-12);
  --nav-width: 260px;

  display: grid;
  grid-template-areas: var(--grid-template-areas);
  width: 100%;
  height: 100%;
  
  @media only screen and (max-width: 800px) {
    grid-template-rows: 1fr var(--player-height) var(--nav-height);
  }

  @media only screen and (min-width: 801px) {
    --grid-template-areas: 'nav main';
    grid-template-columns: var(--nav-width) 1fr;
  }
}

main {
  grid-area: main;
  overflow-y: scroll;
  max-height: 100%;

  @media only screen and (min-width: 801px) {
    padding: var(--base-space-4);
  }
}

aside {
  @media only screen and (min-width: 801px) {
    padding: var(--base-space-4);
  }
}

a {
  --color: var(--gray-7); 
  text-decoration: none;
  color: var(--color);

  &:hover {
    --color: var(--black);
    background-color: var(--gray-7);
  }
}

.base-title {
  @media only screen and (max-width: 800px) {
    padding-left: var(--player-padding);
    padding-right: var(--player-padding);
  }

  & + * {
    margin-top: var(--base-space-3);
  }
}

.base-list {

}

.base-list-item {
  display: flex;
  align-items: center;
  padding-top: var(--base-space-2);
  padding-bottom: var(--base-space-2);

  @media only screen and (max-width: 800px) {
    padding-left: var(--player-padding);
    padding-right: var(--player-padding);
  }

  & > * + * {
    margin-left: var(--base-space-2);
  }
}

