:root {
  --player-cover-size: var(--base-space-14);
  --player-height: calc(var(--player-cover-size) + var(--player-progress-bar-height));
  --player-padding: var(--base-space-2);
  --player-preview-grid-areas:
    "play-state info"
    "progress progress";
  --player-preview-grid-columns: var(--player-cover-size) 1fr;
  --player-cover-play-button-display: block;
  --player-controls-display: none;
  --player-time-display: none;
  --player-side-padding: initial;
  --player-full-toggle-btn-display: flex;
}

.o-player {
  position: relative;
  grid-area: player;
  align-self: flex-end;
  border-top: var(--border);
  height: 100vh;
  background-color: var(--color-background);
  transform: translateY(calc(100vh - var(--player-height)));
  transition: transform .2s ease-in;
  z-index: var(--z-index-player);

  audio {
    display: none;
  }

  @media only screen and (min-width: 801px) {
    --player-preview-grid-areas:
      "controls play-state info"
      "controls play-state playback";
    --player-preview-grid-columns: min-content var(--player-cover-size) 1fr;
    --player-cover-play-button-display: none;
    --player-controls-display: flex;
    --player-side-padding: var(--player-padding);
    --player-progress-bar-usable-state: initial;
    --player-progress-bar-thumb-size: 5px;
    --player-time-display: flex;
    --player-full-toggle-btn-display: none;
  }

  .o-player__full {
    opacity: 0;
    pointer-events: none;
  }

  .o-player__preview {
    opacity: 1;
    pointer-events: auto;
  }

  &.show-small-viewport-player {
    --player-controls-display: flex;

    transform: translateY(var(--player-height));

    .o-player__preview {
      opacity: 0;
      pointer-events: none;
    }

    .o-player__full {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.o-player__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-areas: var(--player-preview-grid-areas);
  grid-template-columns: var(--player-preview-grid-columns);
  padding-left: var(--player-side-padding);
  padding-right: var(--player-side-padding);
  transition: opacity .3s ease-in;
}

.o-player__preview__cover-wrapper {
  grid-area: play-state;
  position: relative;
  padding: var(--player-padding);
  @include flex-absolute-center;
  @include size(var(--player-cover-size));
  
  .o-player__cover-wrapper__cover {
    @include size(100%);
  }

  button {
    display: var(--player-cover-play-button-display);
    position: absolute;
    @include absolute-center;
    color: var(--white);
  }
}

.o-player__preview__info {
  position: relative;
  grid-area: info;
}

.o-player__preview__progress {
  grid-area: progress;
}

.o-player__full {
  --player-full-height-grid-areas:
    "toggle-btn"
    "tabs"
    "scroller"
    "controls"
    "progress";
  
  display: grid;
  gap: var(--base-space-4);
  grid-template-areas: var(--player-full-height-grid-areas);
  padding-left: var(--base-space-4);
  padding-right: var(--base-space-4);
  transition: opacity .3s ease-in;
}

.o-player__full__toggle-btn {
  grid-area: toggle-btn;
  display: var(--player-full-toggle-btn-display);
  justify-content: center;
  align-items: center;
  height: var(--base-space-8);
  width: 100%;
  background-color: transparent;
  padding: 0;
  border: none;
}

.o-player__full__tabs {
  grid-area: tabs;
  display: flex;
  border-bottom: var(--border);
  
  button {
    --tab-border-color: transparent;

    @include flex-absolute-center;
    height: var(--base-space-8);
    padding-left: var(--base-space-2);
    padding-right: var(--base-space-2);
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--tab-border-color);

    &.is-active {
      --tab-border-color: var(--player-progress-bar-color);
    }
  }
}

.o-player__full__scroller {
  grid-area: scroller;
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  & > * {
    min-width: 100%;
    scroll-snap-align: start;
  }
}

// .o-player__full__cover {
//   grid-area: cover;
// }

.o-player__full-height__info {
  align-items: center;
}

.o-player__full__controls {
  grid-area: controls;
  display: var(--player-controls-display);
  gap: var(--base-space-3);
  align-items: center;
  justify-content: center;
}

// .o-player__full_time {
//   position: absolute;
//   top: 0;
//   left: 0;
//   transform: translateY(-200%);
//   display: var(--player-time-display);
//   justify-content: space-between;
//   width: 100%;
// }

.o-player__full__progress {
  grid-area: progress;
}