:root {
  --play-button-size: var(--base-space-12);
  --progress-bar-height: 2px;
  --player-height: calc(var(--play-button-size) + var(--progress-bar-height));
}

.o-player {
  grid-area: player;
  display: flex;
  display: grid;
  grid-template-areas:
    "play-state info"
    "playback playback";
  grid-template-columns: var(--play-button-size) 1fr;

  audio {
    display: none;
  }

  button {
    grid-area: play-state;
    @include flex-absolute-center;
    @include size(var(--play-button-size));
  }
}

.o-player__info {
  grid-area: info;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.o-player__progress {
  grid-area: playback;
  position: relative;
  height: var(--progress-bar-height);
  // width: 100%;
  // background-color: var(--gray-4);
  progress {
    position: absolute;
    left: 0;
    bottom: 0;
    @include size(100%);
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: red;
  //   transform: translateX(calc(-100% + var(--playback-value)));
  //   transition: transform ease-in .3s;
  // }
}