// =======================
// Components / Song
// =======================
.m-song {
  container: song / inline-size;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: var(--base-space-2);
  padding-bottom: var(--base-space-2);
}

.m-song__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  border: none;
  color: var(--gray-9);
  gap: var(--base-space-1);
  @include text-body-xs;

  @container song (min-width: 501px) {
    align-items: center;
    @include text-body-m;
  }
}

.m-song__info__title {
  color: var(--white);
}

.m-song__duration {
  @container song (min-width: 501px) {
    margin-left: auto;
  }
}