// =======================
// Components / Song
// =======================
.m-song {
  container: song / inline-size;
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--player-padding);
  background-color: transparent;
  border: none;
  padding: 0;
}

.m-song__cover {
  flex-shrink: 0;
}

.m-song__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include text-body-xs;
  color: var(--gray-9);
  
  @container song (max-width: 500px) {
    gap: var(--base-space-1);
  }

  @container song (min-width: 501px) {
    @include text-body-m;
  }

  .m-song:has(.m-song__cover) & {
    max-width: calc(100% - 40px - 20px - 16px);
  }

  &:has(.m-song__info__artist) {
    @container song (min-width: 501px) {
      flex: 1;
      display: grid;
      grid-template-areas:
        'title duration'
        'artist duration';
      column-gap: var(--base-space-2);
  
      .m-song__info__title {
        grid-area: title;
      }
  
      .m-song__info__artist {
        grid-area: artist;
      }
  
      .m-song__info__title,
      .m-song__info__artist {
        justify-self: start;
      }
  
      .m-song__info__duration {
        grid-area: duration;
        align-self: center;
        justify-self: end;
      }
    }
  }

}

.m-song__info__title {
  color: var(--text-high-emphasis);
  font-family: var(--font-text-large);
  @include truncate-text;
  max-width: 100%;
}