:root {
  @media (prefers-color-scheme: dark) {
    /* COLOR */
    --background-button-destructive-active: rgb(183, 64, 58);
    --background-button-destructive-default: rgb(221, 72, 64);
    --background-button-destructive-hover: rgb(227, 105, 99);
    --background-button-destructive-text-hover: rgb(60, 38, 39);
    --background-button-primary-active: rgb(84, 67, 188);
    --background-button-primary-default: rgb(98, 77, 227);
    --background-button-primary-hover: rgb(154, 144, 223);
    --background-button-secondary-active: rgb(31, 32, 35);
    --background-button-secondary-default: rgb(39, 40, 43);
    --background-button-secondary-hover: rgb(49, 50, 53);
    --background-button-warning-active: rgb(105, 82, 58);
    --background-button-warning-default: rgb(65, 51, 36);
    --background-component-child: rgb(49, 50, 53);
    --background-component-disabled: rgb(39, 40, 43);
    --background-component-elevated-element: rgb(49, 50, 53);
    --background-component-error: rgb(60, 38, 39);
    --background-component-highlight: rgb(54, 42, 121);
    --background-component-hover-on-darkest: rgb(51, 51, 51);
    --background-component-hover-on-lightest: rgb(68, 71, 75);
    --background-component-info: rgb(41, 52, 67);
    --background-component-input: rgb(31, 32, 35);
    --background-component-parent: rgb(39, 40, 43);
    --background-component-success: rgb(45, 60, 48);
    --background-component-tooltip: rgb(49, 50, 53);
    --background-component-warning: rgb(65, 51, 36);
    --background-surface-marketing-background: rgb(31, 32, 35);
    --background-surface-overlay: rgb(31, 32, 35);
    --background-surface-surface-1: rgb(39, 40, 43);
    --background-surface-surface-2: rgb(31, 32, 35);
    --background-surface-surface-3: rgb(68, 71, 75);
    --background-surface-surface-glass: rgba(31, 32, 35, 0.64);
    --border-button-destructive-default: rgb(227, 105, 99);
    --border-button-destructive-focused: rgb(60, 38, 39);
    --border-button-primary-default: rgb(84, 67, 188);
    --border-button-primary-focused: rgb(54, 42, 121);
    --border-button-secondary-default: rgb(68, 71, 75);
    --border-button-warning-hover: rgb(105, 82, 58);
    --border-component-active: rgb(84, 67, 188);
    --border-component-darkest-border: rgb(68, 71, 75);
    --border-component-error: rgb(221, 72, 64);
    --border-component-lightest-border: rgb(68, 71, 75);
    --design-tokens-viewer-container: rgb(39, 40, 43);
    --design-tokens-viewer-separator: rgb(68, 71, 75);
    --design-tokens-viewer-token-background: rgb(68, 71, 75);
    --design-tokens-viewer-token-icon: rgb(174, 178, 183);
    --design-tokens-viewer-token-name: rgb(244, 245, 245);
    --global-app-violet-base: rgb(98, 77, 227);
    --global-app-violet-dark: rgb(154, 144, 223);
    --global-app-violet-light: rgb(84, 67, 188);
    --global-app-violet-lighter: rgb(54, 42, 121);
    --global-blue-base: rgb(96, 168, 250);
    --global-blue-lighter: rgb(41, 52, 67);
    --global-green-base: rgb(125, 216, 121);
    --global-green-lighter: rgb(45, 60, 48);
    --global-neutral-1: rgb(31, 32, 35);
    --global-neutral-2: rgb(39, 40, 43);
    --global-neutral-3: rgb(49, 50, 53);
    --global-neutral-4: rgb(68, 71, 75);
    --global-neutral-5: rgb(92, 96, 102);
    --global-neutral-6: rgb(120, 126, 135);
    --global-neutral-7: rgb(174, 178, 183);
    --global-neutral-8: rgb(244, 245, 245);
    --global-neutral-9: rgb(255, 255, 255);
    --global-orange-base: rgb(255, 158, 41);
    --global-orange-light: rgb(105, 82, 58);
    --global-orange-lighter: rgb(65, 51, 36);
    --global-red-base: rgb(221, 72, 64);
    --global-red-dark: rgb(227, 105, 99);
    --global-red-light: rgb(183, 64, 58);
    --global-red-lighter: rgb(60, 38, 39);
    --icon-default: rgb(120, 126, 135);
    --icon-disabled: rgb(68, 71, 75);
    --icon-error: rgb(221, 72, 64);
    --icon-info: rgb(96, 168, 250);
    --icon-on-colored-bg: rgb(255, 255, 255);
    --icon-selected: rgb(154, 144, 223);
    --icon-success: rgb(125, 216, 121);
    --icon-warning: rgb(255, 158, 41);
    --skeleton-default: rgb(49, 50, 53);
    --text-active: rgb(154, 144, 223);
    --text-error: rgb(221, 72, 64);
    --text-high-emphasis: rgb(255, 255, 255);
    --text-info: rgb(96, 168, 250);
    --text-low-emphasis: rgb(174, 178, 183);
    --text-medium-emphasis: rgb(244, 245, 245);
    --text-on-colored-bg: rgb(255, 255, 255);
    --text-success: rgb(125, 216, 121);
    --text-warning: rgb(255, 158, 41);
  }
}